<!DOCTYPE html>
<html lang="sv">
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"/>
    <link rel="stylesheet" href="/stylesheets/style.css"/>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"/>
    <!-- <title>Svart T-shirt</title> -->
    <title><%= product.name %></title>
  </head>
  <body>
    <header>
      <div class="mainmenu">
        <div class="logo">
          <a href="/">
          <img src="../../images/Freaky Fashion2.png" alt="logga"/>
          </a>
        </div>
        <div class="menucontainer">
          <div class="searchbar">
            <input
              class="searchinput"
              type="text"
              placeholder="Sök produkt"
              required/>
            <ul class="icons">
              <li>
                <a href="#"><i class="bi bi-heart-fill"></i></a>
              </li>
              <li>
                <a href="#"><i class="bi bi-basket"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <nav>
        <ul class="topmenu">
          <li><a href="#">Nyheter</a></li>
          <li><a href="#">Topplista</a></li>
          <li><a href="#">Rea</a></li>
          <li><a href="#">Kampanjer</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <!-- <article class="popularproducts">
        <div class="productcard tshirtpage">
          <a href="#">
            <img src="<%= product.image %>" />
          </a>
          <a class="heart2" href="#"><i class="bi bi-heart"></i></a>
          <div>
          <div class="imgtext">
            <h2><%= product.name %></h2>
          </div>
          <p><%= product.brand %></p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
            consequuntur culpa voluptatem in ipsa eum eos eveniet magni
            consequatur optio quisquam quam ad, voluptatibus similique
            accusantium nihil cum minus! Delectus?
          </p>
          <p><%= product.price %></p>
          <button class="addtocart">Lägg i varukorgen</button>
        </div>
        </div>
      </article>
      <div class="similarproductstitle">
        <h4>Liknande produkter</h4>
      </div>
      <div class="similarproducts">
        <div class="productcard">
          <a href="#">
            <img src="../../images/Svarttshirt.png" alt="Bild på svart t-shirt"/>
          </a>
          <div class="imgtext">
            <h2>Svart T-Shirt</h2>
            <h2>199 SEK</h2>
          </div>
          <p>Levis</p>
        </div>
        <div class="productcard">
          <a href="#">
            <img src="../../images/Svarttshirt.png" alt="Bild på svart t-shirt"/>
          </a>
          <div class="imgtext">
            <h2>Svart T-Shirt</h2>
            <h2>199 SEK</h2>
          </div>
          <p>Levis</p>
        </div>
        <div class="productcard">
          <a href="#">
            <img src="../../images/Svarttshirt.png" alt="Bild på svart t-shirt"/>
          </a>
          <div class="imgtext">
            <h2>Svart T-Shirt</h2>
            <h2>199 SEK</h2>
          </div>
          <p>Levis</p>
        </div>
      </div> -->
      <article class="popularproducts">
        <div class="productcard tshirtpage">
          <a href="#">
            <img src="<%= product.image %>" alt="Bild på <%= product.name %>"/>
          </a>
          <a class="heart2" href="#"><i class="bi bi-heart"></i></a>
          <div>
            <div class="imgtext">
              <h2><%= product.name %></h2>
            </div>
            <p><%= product.brand %></p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate
              consequuntur culpa voluptatem in ipsa eum eos eveniet magni
              consequatur optio quisquam quam ad, voluptatibus similique
              accusantium nihil cum minus! Delectus?
            </p>
            <p><%= product.price %> SEK</p>
            <button class="addtocart">Lägg i varukorgen</button>
          </div>
        </div>
      </article>
      <div class="similarproductstitle">
        <h4>Liknande produkter</h4>
      </div>
      <div class="similarproducts">
        <% similarProducts.forEach(function(product) { %>
          <div class="productcard">
            <a href="/products/<%= product.slug %>">
              <img width="400px" height="520px" src="<%= product.image %>" alt="Bild på <%= product.name %>"/>
            </a>
            <div class="imgtext">
              <h2><%= product.name %></h2>
              <h2><%= product.price %> SEK</h2>
            </div>
            <p><%= product.brand %></p>
          </div>
        <% }); %>
      </div>
      <div>
        <ul class="endicons">
          <li>
            <p>
              <i class="bi bi-globe-europe-africa"></i>
              Gratis frakt och returer
            </p>
          </li>
          <li>
            <p>
              <i class="bi bi-airplane-engines-fill"></i>
              Expressfrakt
            </p>
          </li>
          <li>
            <p>
              <i class="bi bi-shield-shaded"></i>
              Säkra betalningar
            </p>
          </li>
          <li>
            <p>
              <i class="bi bi-emoji-smile"></i>
              Nyheter varje dag
            </p>
          </li>
        </ul>
      </div>
    </main>
    <footer>
      <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseOne"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              Shopping
            </button>
          </h2>
          <div
            id="collapseOne"
            class="accordion-collapse collapse show"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <ul class="jacketlist">
                <li>Vinterjackor</li>
                <li>Pufferjackor</li>
                <li>Kappor</li>
                <li>Trenchcoats</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingTwo">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseTwo"
              aria-expanded="false"
              aria-controls="collapseTwo"
            >
              Mina Sidor
            </button>
          </h2>
          <div
            id="collapseTwo"
            class="accordion-collapse collapse"
            aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius
              voluptates autem minus, excepturi unde voluptatem dolorum
              assumenda nemo doloribus inventore consectetur ipsum consequatur
              at blanditiis vitae nam totam illo est!
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingThree">
            <button
              class="accordion-button collapsed"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#collapseThree"
              aria-expanded="false"
              aria-controls="collapseThree"
            >
              Kundtjänst
            </button>
          </h2>
          <div
            id="collapseThree"
            class="accordion-collapse collapse"
            aria-labelledby="headingThree"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              Lorem ipsum dolor sit amet consectetur, adipisicing elit.
              Reprehenderit ad nam dolorem repellendus, quod voluptas laborum! A
              nesciunt provident, nemo quod porro dolor laborum recusandae quas
              ad facilis ducimus assumenda.
            </div>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p>
          <i class="bi bi-c-circle"></i>
          Freaky Fashion
        </p>
      </div>
      <nav class="endmenu">
        <ul>
          <li>Shopping</li>
          <li>Vinterjackor</li>
          <li>Pufferjackor</li>
          <li>Kappa</li>
          <li>Trenchcoats</li>
        </ul>
        <ul>
          <li>Mina Sidor</li>
          <li>Mina Ordrar</li>
          <li>Mitt Konto</li>
        </ul>
        <ul>
          <li>Kundtjänst</li>
          <li>Returpolicy</li>
          <li>Integritetspolicy</li>
        </ul>
        <div class="copyright2">
          <p>
            <i class="bi bi-c-circle"></i>
            Freaky Fashion
          </p>
        </div>
      </nav>
    </footer>
  </body>
</html>
